<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head.ejs') %>
  </head>
  <body class="container">
    <header><%- include('../views/partials/header') %></header>

    <main>
      <div class="jumbotron">
        <h1>Vegetales</h1>
      </div>
    </main>
    <section>
        <h1 style="color:rgba(36, 36, 182, 0.4) ;">Vista Productos</h1>

        <% if (productos.length > 0) {%>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Photo</th>
                </tr>
                <% productos.forEach(producto=>{ %>
                        <tr>
                            <td> <%= producto.id %> </td>
                            <td class="first_titulo"> <%= producto.titulo%> </td>
                            <td> <%= producto.precio %> </td>
                            <td><img src= <%= producto.imagen %> /></td>
                        </tr>
                    <%}) 
                %>
            </table>
        <%}else{ %>
            <h2 style="color:brown">No hay productos cargados</h2>
        <%} %>
    </section>
    <h2>Agregar mas productos</h2>
    <button class="btn btn-danger"><a href="/">Volver</a></button> 
    <footer><%- include('../views/partials/footer'); %></footer>
  </body>
</html>
